.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.catalog-padding{
  padding: 15px;
}

.fifa-logo{
  height: 40px; 
  width: 40px;
}
.fifa-md-logo{
  height: 30px; 
  width: 30px;
}
.fifa-xs-logo{
  height: 20px; 
  width: 20px;
}
.playoffs{
  background-color: #c4eab4;
}
.wildcard{
  background-color: #bfccf2;
}
.winner{
  font-weight: bold;
}

.table-madden{
  text-align: left;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 80px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 80px;
  }
  nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
  nav.navbar-findcond a { color: #f14444; }
  nav.navbar-findcond ul.navbar-nav a { color: #f14444; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
  nav.navbar-findcond ul.navbar-nav a:hover,
  nav.navbar-findcond ul.navbar-nav a:visited,
  nav.navbar-findcond ul.navbar-nav a:focus,
  nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
  nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444; }
  nav.navbar-findcond li.divider { background: #ccc; }
  nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
  nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
  nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
  nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
  nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
  nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
  nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
  nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
}
.me { background-color:#ffffcc }
.donut-badge { background-color:#7AF}
