<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" media="screen and (min-width: 768px)" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css" />
    <!-- If we have a small resolution we're going to use this material design-->
  </head>
  <body ng-app="vestaParkingApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <nav class="navbar navbar-findcond navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/main">Jacarandas Management</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar" ng-init="activeMenu = 'parking'">
            <ul class="nav navbar-nav navbar-right">

                  <li ng-show="session" class="dropdown" ng-class="{'active':activeMenu === '/fifa'}">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      <i class="mdi-av-games"></i>
                      Games<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a href="#/tournaments">Fifa</a>
                      </li>
                      <li>
                        <a href="#/tournament">Madden</a>
                      </li>
                    </ul>
                  </li>
                  <li ng-show="session" ng-class="{'active':activeMenu === '/donuts'}"><a href="#/donuts"><i class="mdi-toggle-radio-button-on"></i> Donuts</a></li>
                  <li ng-show="session" ng-class="{'active':activeMenu === '/main'}"><a href="#/main"><i class="mdi-notification-event-available"></i> Calendar</a></li>
                  <li ng-show="session" class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="mdi-social-person-outline"></i> {{session.first_name}} {{session.last_name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="javascript:void(0)" ng-click="passwordReset()">Password reset</a></li>
                      <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
                    </ul>
                  </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="row" ng-show="resetConfirmation">
      <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p>You will receive an email confirmation shortly</p>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Jacarandas</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/arrive/src/arrive.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/modules/login/login.js"></script>
        <script src="scripts/modules/login/controllers/login.js"></script>
        <script src="scripts/modules/login/controllers/reset.js"></script>
        <script src="scripts/modules/login/services/login.js"></script>
        <script src="scripts/modules/login/services/session.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/proxy.js"></script>
        <script src="scripts/services/events.js"></script>
        <script src="scripts/services/current.js"></script>
        <script src="scripts/directives/refreshview.js"></script>
        <script src="scripts/controllers/donuts.js"></script>
        <script src="scripts/services/donuts.js"></script>
        <script src="scripts/services/material.js"></script>
        <script src="scripts/services/mailgunproxy.js"></script>
        <script src="scripts/services/mailgun.js"></script>
        <script src="scripts/services/parking.js"></script>
        <script src="scripts/services/fifa.js"></script>
        <script src="scripts/controllers/fifa.js"></script>
        <script src="scripts/controllers/tournaments.js"></script>
        <script src="scripts/filters/startfrom.js"></script>
        <script src="scripts/services/madden.js"></script>
        <script src="scripts/controllers/madden.js"></script>
        <script src="scripts/controllers/madden_tournament.js"></script>
        <!-- endbuild -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script> <!--This is add manually -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.js"></script>  <!--This is add manually -->
    <script src="scripts/ouical.min.js"></script>
    
</body>
</html>
